<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как оказать первую помощь : пошаговое руководство при травмах, ожогах и отравлениях</title>
    <meta name="description" content="Пошаговая инструкция по оказанию первой помощи: реанимация, остановка кровотечений, действия при ожогах и отравлениях, лечение переломов и ушибов.">
    <meta name="keywords" content="первая помощь, реанимация, кровотечение, отравления, ожоги, переломы, ушибы, экстренная помощь, медицинская помощь, помощь пострадавшим">
    
    <meta property="og:title" content="Как оказать первую помощь">
    <meta property="og:description" content="Пошаговая инструкция по оказанию первой помощи: реанимация, остановка кровотечений, действия при ожогах и отравлениях, лечение переломов и ушибов.">
    <meta property="og:image" content="../Assets/Images/Aid/aid.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main aid">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Первая помощь</h1>
                    <h2 class="main"><a href="#resuscitation">посмотреть ниже <img src="../Assets/Images/Main/Arrow1.png" alt="Иконка стрелки"></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#resuscitation">Реанимация</a>
                        <a href="#bleeding">Кровотечение</a>
                        <a href="#poisoning">Отравления<br> и ожоги</a>
                        <a href="#damage">Физические<br> повреждени</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" alt="Декоративная линия" class="nav-image">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Aid">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></img></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="resuscitation" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">реанимация <img src="../Assets/Images/Main/NameLine.png" alt="Декоративная линия" class="orangeLine"></h2>
                    <h2 class="title" itemprop="headline"> <span class="background-number">01</span> Как привести человека в чувства?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Обморок:</span> Смочить лицо водой, дать понюхать нашатырь.</li>
                        <li><span class="b">Искусственное дыхание:</span> Запрокинуть голову, вдохнуть в рот пострадавшего 16–18 раз/мин.</li>
                        <li><span class="b">Массаж сердца:</span> На нижней трети грудины: 60 нажатий/мин (дети — одной рукой, младенцы — двумя пальцами, 100–110 раз/мин). Только в сочетании с дыханием.</li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Aid/resuscitation.jpg" alt="Изображение массажа сердца" itemprop="image">
            </div>
            
            <div id="bleeding" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">кровотечение <img src="../Assets/Images/Main/NameLine.png" alt="Декоративная линия" class="orangeLine"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Как остановить кровотечение?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                            <li><span class="b">Артериальное:</span>  Наложить жгут выше раны, прижать сосуд. Максимальное время нахождения жгута на конечности не должно превышать 60 минут в теплое время года и 30 минут в холодное. Если максимальное время наложения жгута истекло, а медицинская помощь недоступна, следует сделать следующее: осуществить пальцевое прижатие артерии выше жгута;  снять жгут на 15 минут; по возможности выполнить лёгкий массаж конечности, на которую был наложен жгут; наложить жгут чуть выше предыдущего места наложения; максимальное время повторного наложения – 15 минут. Если кровь не остановлена можно использовать числую холодную золу как антисептик, а чистый тканевый валик, паутину или мох как губки для впитывания крови, наложить их и не убирать, чтобы не открывать нового кровотечения.</li>
                            <li><span class="b">Венозное:</span>  Давящая повязка.</li>
                            <li><span class="b">Капиллярное:</span> Антисептик, стерильная повязка.</li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Aid/bleeding.jpg" alt="Изображение наложения жгута" itemprop="image">
            </div>

            <div id="poisoning" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">отравление и ожоги <img src="../Assets/Images/Main/NameLine.png" alt="Декоративная линия" class="orangeLine"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Как справиться с ожогами и отравлением?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li><span class="b">Отравление химическими веществами:</span> Надеть противогаз или мокрую ткань на лицо.</li>
                        <li><span class="b">Химический ожог:</span> Обильно промыть водой. При кислоте — содовый раствор. При щелочи — раствор уксуса.</li>
                        <li><span class="b">Отравление угарным газом:</span> Вынести пострадавшего на свежий воздух.</li>
                        <li><span class="b">Электротравма:</span> Обесточить источник, использовать резину, сухое дерево, вытаскивать за неплотную одежду.</li>
                        <li><span class="b">Термический ожог:</span> Убрать источник тепла, сбить пламя: засыпать снегом, водой, землёй, песком или накрыть плотной тканью. Промыть холодной водой, если появились волдыри опустить повреждённую поверхность в воду. Если волдыри лопнут наложить повязку.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Aid/poisoning.jpg" alt="Изображение огня и химикатов" itemprop="image">
            </div>

            <div id="damage" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">физические повреждения <img src="../Assets/Images/Main/NameLine.png" alt="Декоративная линия" class="orangeLine"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">04</span>Как лечить физические повреждения?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li><span class="b">Переломы:</span> <ol>
                            <li><span class="b">Закрытый:</span> наложить шину, обездвижить место, приложить холод.</li>
                            <li><span class="b">Открытый:</span> стерильная повязка, остановка кровотечения, обездвиживание.</li>
                        </ol></li>
                        <li><span class="b">Вывих:</span> Иммобилизовать сустав, приложить холод.</li>
                        <li><span class="b">Разрыв связок:</span> Тугая повязка, холод, покой.</li>
                        <li><span class="b">Растяжение:</span> Бинт, холод, приподнятая конечность, без нагрузки.</li>    
                        <li><span class="b">Ушибы:</span> Приложить лёд или холодный предмет для снятия отека и боли.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Aid/damage.jpg" alt="Изображение сломаной руки" itemprop="image">
            </div>
            
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
</body>
</html>