<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как связаться с людьми : Способы подать сигнал помощи службе спасения в природе</title>
    <meta name="description" content="Руководство по связи с людьми в экстренных ситуациях, включая номера службы спасения, использование огня и шума для привлечения внимания.">
    <meta name="keywords" content="связь с людьми, экстренные ситуации, служба спасения, костёр, шум, засечки, выживание, спасение">
    
    <meta property="og:title" content="Как связаться с людьми">
    <meta property="og:description" content="Руководство по связи с людьми в экстренных ситуациях, включая номера службы спасения, использование огня и шума для привлечения внимания.">
    <meta property="og:image" content="../Assets/Images/Connection/connection.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main connection">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Связь с людьми</h1>
                    <h2 class="main"><a href="#rescue">посмотреть ниже <div class="image-wrapper"></div></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#rescue">Служба<br>спасения</a>
                        <a href="#bonfire">Костёр</a>
                        <a href="#noise">Шум</a>
                        <a href="#serifs">Засечки</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" class="nav-image">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Connection">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="rescue" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">служба спасения <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>Как связаться со службой спасения?</h2>
                    <p itemprop="articleBody">Если есть возможность, свяжитесь с Единой службой спасения по телефону: 112 или 01. Эти номера работают в большинстве стран и могут помочь в экстренных ситуациях.</p>
                </article>
                <img class="photo_article" src="../Assets/Images/Connection/rescue.jpg" alt="Изображение вертолёта спасателей" itemprop="image">
            </div>

            <div id="bonfire" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">связь костром <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Чем полезен огонь?</h2>
                    <p itemprop="articleBody">Дым от костра может стать отличным ориентиром для спасателей, особенно в условиях плохой видимости. Он заметен издалека и поможет спасательным службам быстрее вас найти.</p>
                </article>
                <img class="photo_article" src="../Assets/Images/Connection/bonfireForest.jpg" alt="Изображение костра в лесу" itemprop="image">
            </div>

            <div id="noise" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">шум <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Как петь с пользой?</h2>
                    <p itemprop="articleBody">Пение песен или создание шума — это способ привлечь внимание и помочь спасателям легче найти вас. Шум будет слышен на расстоянии, что увеличивает шансы на спасение.</p>
                </article>
                <img class="photo_article" src="../Assets/Images/Connection/music.jpg" alt="Изображение игроков на гитаре" itemprop="image">
            </div>

            <div id="serifs" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">засечки <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">04</span>Что зарубить на носу?</h2>
                    <p itemprop="articleBody">Оставляйте засечки на деревьях или другие заметные следы, чтобы спасатели могли ориентироваться в лесу. Это будет значительным ориентиром, по которому они смогут определить ваше местоположение.</p>
                </article>
                <img class="photo_article" src="../Assets/Images/Connection/serifs.jpg" alt="Изображение засечек на дереве" itemprop="image">
            </div>


            
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/slideAnimation.js"></script>
</body>
</html>