<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как построить укрытие : пошаговое руководство по выбору места, материалов и построению укрытий</title>
    <meta name="description" content="Как построить укрытие в лесу: руководство по выбору места, материалов и построению различных видов укрытий.">
    <meta name="keywords" content="укрытие, лес, выживание, шалаш, землянка, материалы для укрытия, строительство, природа, советы">
    <meta property="og:title" content="Как построить укрытие">
    <meta property="og:description" content="Как построить укрытие в лесу: руководство по выбору места, материалов и построению различных видов укрытий.">
    <meta property="og:image" content="../Assets/Images/Cover/place.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main warm">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Укрытие в лесу</h1>
                    <h2 class="main"><a href="#place">посмотреть ниже <div class="image-wrapper"></div></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#place">Место</a>
                        <a href="#materials">Материалы</a>
                        <a href="#hut">Навес</a>
                        <a href="#twoSideHut">Двускатный шалаш</a>
                        <a href="#dugout">Землянка</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" class="nav-image" alt="Декоративная линия">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Cover">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="place" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">подготовка места <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>Где построить убежище?</h2>
                    <p itemprop="articleBody"> Лучшие места для убежища:
                        <ol class="listReference">
                        <li><span class="b">Возвышенность:</span> слегка приподнятое место защитит от скопления воды при дожде и ночной влаги.</li>
                        <li><span class="b">Местность с естественной защитой:</span> у подножия скал, рядом с большими поваленными деревьями, среди густых кустарников могут упростить постройку или укрепить строение.</li>
                        <li><span class="b">Рядом с водой, но не слишком близко:</span> На расстоянии не менее 50 метров от реки, чтобы избежать подтопления, сырости и нападения животных.</li>
                        <li><span class="b">Участки с сухим грунтом и мхом:</span> Как правило, это признак хорошей дренируемости и комфорта для сна.</li>
                        <li><span class="b">Место, защищённое от ветра и открытого неба:</span> Особенно важно в холодный или дождливый сезон.</li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Cover/place.jpg" alt="Изображение лесной реки" itemprop="image">
            </div>
            
            <div id="materials" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">подготовка материалов <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Из чего построить убежище?</h2>
                    <p itemprop="articleBody"> Искать можно следующие материалы для строительства:
                        <ol class="listReference">
                            <li><span class="b">Жерди и каркас:</span> Выбирать прямые, сухие ветви или тонкие стволы деревьев толщиной от запястья до предплечья. Подойдут: берёза, ольха, осина, ель — мягкие и легко обрабатываются. Сначала заготовь несущие балки (1–2 длинных жерди 2–3 м), потом боковые (короче и легче). Использовать тупой нож, топор или обломай вручную, если нет инструментов. Собирать упавшие деревья — не рубить лишнего.</li>
                            <li><span class="b">Лапник и утеплитель:</span> Срезать еловые или сосновые ветки — у них плотные иголки, они не осыпаются. Для подстилки или крыши нужно много лапника — собирать в одном месте, потом переноси связками. Листва, мох, кора, трава — отличный дополнительный материал для утепления и покрытия.</li>
                            <li><span class="b">Связка и крепление:</span> Можно использовать: Корни деревьев (особенно еловые — они гибкие и прочные), льняную нить, верёвку (если с собой), гибкие побеги ивы или лещины — легко связывать жерди.</li>
                            <li><span class="b">Земля и дерн:</span> Острым камнем или палкой отделять пласты земли с травой. Укладывать дерн поверх крыши или стен — он удерживает влагу и скрывает укрытие.</li>
                            <li><span class="b">Советы:</span> Работать лучше в перчатках или оберни руки тканью — при заготовке лапника легко пораниться. Заготавливай всё рядом с местом постройки, чтобы не тратить силы на транспортировку.</li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Cover/materials.jpg" alt="Изображение срубленных деревьев" itemprop="image">
            </div>

            <div id="hut" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">постройка шалаша <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Как построить шалаш?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li>Для сооружения навеса, возьмите два кола длиной 1,5 метра, толщиной с руку, с развилками на концах. Вбивайте их в землю на расстоянии 2-2,5 метра друг от друга.</li>
                        <li>На эти развилки укладываете толстую жердь (несущий брус).</li>
                        <li>На брус под углом 45-60° крепите четыре-пять жердей, которые связываете веревками или гибкими ветвями.</li>
                        <li>К этим жердям привязываете три-четыре жерди-стропила (параллельно земле), на которых укладываете лапник, ветви с листвой или кору, образуя черепицу, чтобы каждый следующий слой прикрывал нижний.</li>
                        <li>Для дополнительной защиты от воды вокруг укрытия можно выкопать неглубокую канавку, чтобы предотвратить затекание дождевой воды.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Cover/tentOfWood.jpg" alt="Изображение шалаша" itemprop="image">
            </div>

            <div id="twoSideHut" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">постройка двухскатного шалаша <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">04</span>Как построить двухскатный шалаш?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li>Двухскатный шалаш более удобен для длительного проживания.</li>
                        <li>Строится по тому же принципу, что и навес, но жерди укладываются по обе стороны несущего бруса, образуя две стороны крыши.</li>
                        <li>Передняя часть шалаша открыта и служит входом, а заднюю часть можно прикрыть одной или двумя жердями, которые затем заплетаются лапником для дополнительной изоляции.</li>    
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Cover/tents.jpg" alt="Изображение двухскатных шалашей" itemprop="image">
            </div>

            <div id="dugout" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">постройка землянки <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">05</span>Как построить землянку?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li>Выкопай ямку глубиной 50–70 см, размером примерно 2×1 м для одного человека (или больше, если нужно).</li>
                        <li>По краям вкопай по 2 кола с развилками и положи на них несущую жердь (конёк). К ней под углом опираются наклонные жерди, образуя крышу в виде шалаша (одностороннего или двухскатного).</li>   
                        <li>Сверху крыши укладываются: Поперечные жерди или стропила, слой лапника или веток, слой дерна, мха, листьев или земли (всё, что изолирует и маскирует). Чем толще слой, тем теплее и надёжнее.</li>    
                        <li>На дно землянки положи сухой лапник, траву или кору — это спасёт от холода и влаги.</li>
                        <li>Оставь узкий проход с подветренной стороны. При сильном ветре его можно закрывать на ночь щитом из веток или дерна.</li>
                        <li>По периметру выкопай канавку — она отведёт воду при дожде.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Cover/dugout.jpg" alt="Изображение зелмянки" itemprop="image">
            </div>
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/slideAnimation.js"></script>
</body>
</html>