<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как найти еду в лесу : пошаговое руководство по собирательству, опасным растениям и грибам, советы по выживанию в лесу</title>
    <meta name="description" content="Пошаговое руководство по поиску еды в лесу: собирательство, опасные растения и грибы, советы по выживанию в лесу.">
    <meta name="keywords" content="еда в лесу, собирательство, ягоды, грибы, растения, охота, рыбалка, приготовление пищи, выживание">

    <meta property="og:title" content="Как найти еду в лесу">
    <meta property="og:description" content="Пошаговое руководство по поиску еды в лесу: собирательство, опасные растения и грибы, советы по выживанию в лесу.">
    <meta property="og:image" content="../Assets/Images/Food/bonfire.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main food">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Еда в лесу</h1>
                    <h2 class="main"><a href="#gathering">посмотреть ниже <div class="image-wrapper"></div></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#gathering">Собирательство</a>
                        <a href="#huntAndFishing">Охота и рыбалка</a>
                        <a href="#cooking">Приготовление<br>пищи</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" class="nav-image" alt="Декоративная линия">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Food">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div id="imageModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <img id="imageToShow" src="../Assets/Images/Food/bonfire.jpg" alt="Картинка">
        </div>
      </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="gathering" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">собирательство <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>Что собирать?</h2>
                    <p itemprop="articleBody">
                    <p><span class="b">Собирать:</span></p>
                    <p> <ol class="listReference">
                        <li><span class="b">Общее:</span> Изучите перечень съедобных продуктов, которые можно найти в лесу. Никогда не ешьте то, в чём не уверены на 100%. Голод - лучше отравления. Без еды человек может прожить около 40 дней. Не ешь ягоды и растения с ярким блеском и неприятным запахом.</li>
                        <li><span class="b">Растения:</span><ol>
                            <li><a href="#" class="showImage" name="nettle">Крапива:</a> Прямой стебель и зубчатые листья покрыты жгучими волосками. Есть молодые верхушки и листья перез употреблением обдать кипятком или отварить.</li>
                            <li><a href="#" class="showImage" name="sorrel">Щавель:</a> Стреловидные, кислые листья собраны в прикорневую розетку. Есть листья сырыми или в супах.</li>
                            <li><a href="#" class="showImage" name="goutweed">Сныть:</a> Тройчатые листья и белые зонтики на полом стебле образуют густые заросли. Есть молодые листья сырыми и приготовленными.</li>
                            <li><a href="#" class="showImage" name="burdock">Лопух:</a> Огромные сердцевидные листья и цепкие шаровидные цветки на высоком стебле. Есть корень (отваривать или жарить), черешки — очищать от кожицы, можно есть сырыми или тушёными, а также листья.</li>
                            <li><a href="#" class="showImage" name="cattail">Рогоз:</a> Высокий стебель с длинными плоскими листьями и бурым початком у воды. Есть внутреннюю белую мякоть у основания (сырые или варёные), корневища (высушить (запечь), отчистить, или варить как кашу или муку), пыльца.</li>
                        </ol></li>
                        <li><span class="b">Ягоды:</span><ol>
                            <li><a href="#" class="showImage" name="blueberry">Черника:</a> Низкий куст, сизо-зелёные листья, ягоды с фиолетовой мякотью, окрашивают руки.</li>
                            <li><a href="#" class="showImage" name="cowberry">Брусника:</a> Глянцевые овальные листья, красные ягоды, куст до 30 см</li>
                            <li><a href="#" class="showImage" name="strawberry">Земляника:</a> Распростёртое растение, ароматные красные ягоды с семенами снаружи.</li>
                            <li><a href="#" class="showImage" name="raspberry">Малина:</a> Шиповатые побеги, красные/тёмные ягоды из множества сферических долек.</li>
                            <li><a href="#" class="showImage" name="cranberry">Клюква:</a>	Растёт в мхах, ползучие побеги, блестящие красные ягоды.</li>
                        </ol></li>
                        <li><span class="b">Грибы:</span><ol>
                            <li><a href="#" class="showImage" name="whiteMushroom">Белый гриб:</a> Толстая ножка, светлая сеточка на ножке, губчатая пористая шляпка, мясистый.</li>
                            <li><a href="#" class="showImage" name="birchBolete">Подберёзовик:</a> Серо-коричневая шляпка, ножка с тёмными чешуйками, растёт у берёз.</li>
                            <li><a href="#" class="showImage" name="aspenMushroom">Подосиновик:</a> Оранжевая или красная шляпка, плотная белая мякоть, темнеет на срезе.</li>
                            <li><a href="#" class="showImage" name="chanterelle">Лисичка:</a> Ярко-жёлтая, сросшиеся с ножкой пластинки, пахнет абрикосом.</li>
                            <li><a href="#" class="showImage" name="honeyFungus">Опёнок:</a>	Медовая шляпка, кольцо на ножке, растёт пучками на пнях.</li>
                        </ol></li>
                        <li><span class="b">Орехи:</span><ol>
                                <li><a href="#" class="showImage" name="hazelnut">Фундук:</a> Куст 2–4 м, шаровидные орехи в пучках по 2-5 штук, зрелые — коричневые</li>
                                <li><a href="#" class="showImage" name="acorn">Жёлудь:</a> Глянцевые овальные листья, красные ягоды, куст до 30 см</li>
                                <li><a href="#" class="showImage" name="pineNut">Кедровый орех:</a> Из шишек кедра, мелкие орешки внутри скорлупок.</li>
                                <li><a href="#" class="showImage" name="walnut">Грецкий орех:</a> Дерево до 20 метров, орех округлый или овальный, покрыт зеленой мясистой кожурой, внутри — твёрдая морщинистая скорлупа.</li>
                            </ol></li>
                        </ol>
                    </p>
                    <p><span class="b">НЕ собирать:</span></p>
                    <p><ol class="listReference">
                        <li><span class="b">Общее:</span> Изучите перечень съедобных продуктов, которые можно найти в лесу. Никогда не ешьте то, в чём не уверены на 100%. Голод - лучше отравления. Без еды человек может прожить около 40 дней. Не ешь ягоды и растения с ярким блеском и неприятным запахом.</li>
                        <li><span class="b">Растения:</span><ol>
                            <li><a href="#" class="showImage" name="hemlock">Болиголов:</a> Высокое зонтичное растение с фиолетовыми пятнами на стебле.</li>
                            <li><a href="#" class="showImage" name="henbane">Белена:</a> Растение с белыми цветками тёмно-сиреневыми в центре.</li>
                            <li><a href="#" class="showImage" name="euphorbia">Молочай:</a> Ломается — выделяет белый сок, желтоватые цветки.</li>
                            <li><a href="#" class="showImage" name="solomonSeal">Купена:</a> Плоды как синие ягоды, растут внизу стебля.</li>
                            <li><a href="#" class="showImage" name="celandine">Чистотел:</a> Ярко-жёлтые цветы, оранжевый сок.</li>
                        </ol></li>
                        <li><span class="b">Ягоды:</span><ol>
                            <li><a href="#" class="showImage" name="wolfberry">Волчья ягода:</a> Невысокий куст с ароматными розовыми цветками и ядовитыми ярко-красными ягодами.</li>
                            <li><a href="#" class="showImage" name="belladonna">Белладонна:</a> Крупное травянистое растение с фиолетовыми колокольчатыми цветками и блестящими чёрными ягодами.</li>
                            <li><a href="#" class="showImage" name="blackNightshade">Паслён чёрный:</a> Невысокий кустик с мелкими белыми цветками и висящими чёрными ягодами, часто растёт как сорняк.</li>
                            <li><a href="#" class="showImage" name="paris">Вороний глаз:</a> Низкое растение с четырьмя овальными листьями в крестовине и одной ядовитой чёрной ягодой в центре.</li>
                            <li><a href="#" class="showImage" name="honeysuckle">Жимолость:</a> Вьющийся или кустарниковый побег с синими или чёрными ягодами, часто ядовитыми у дикорастущих видов.</li>
                        </ol></li>
                        <li><span class="b">Грибы:</span><ol>
                            <li><a href="#" class="showImage" name="deathСap">Бледная поганка:</a> Белая, с велумом (мешочек у основания), кольцо на ножке</li>
                            <li><a href="#" class="showImage" name="redFlyAgaric">Мухомор красный:</a> Красная шляпка с белыми точками.</li>
                            <li><a href="#" class="showImage" name="pantherFlyAgaric">Мухомор пантерный:</a> Серо-коричневая шляпка, белые бородавки, без сетки на ножке.</li>
                            <li><a href="#" class="showImage" name="gallMushroom">Жёлчный гриб: </a> Похож на белый, но с розовеющим срезом и горьким вкусом</li>
                            <li><a href="#" class="showImage" name="falseHoneyFungus">Ложный опёнок:</a> Нет кольца, шляпка ярче, неприятный запах.</li>
                        </ol></li>
                        <li><span class="b">Орехи:</span><ol>
                            <li><a href="#" class="showImage" name="horseChestnut">Конский каштан:</a> Похож на каштан, шипастый зелёный плод с орехом внутри, у конского каштана мало шипов и горький вкус.</li>
                            <li><a href="#" class="showImage" name="acorn">Жёлудь:</a> Не есть сырыми.</li>
                            <li><a href="#" class="showImage" name="walnut">Грецкий орех:</a> Не есть сырыми.</li>
                        </ol></li>
                        </ol></p></p>
                </article>
                <img class="photo_article" src="../Assets/Images/Food/mushrooms.jpg" alt="Изображение грибов" itemprop="image">
            </div>
            
            <div id="huntAndFishing" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">охота и рыбалка <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Как охотиться?</h2>
                    <p itemprop="articleBody"> 
                        <ol class="listReference">
                            <li><span class="b">Главное:</span> Способы идут по сложности: чем ниже, тем сложнее. Способы стоит комбинировать: ставить ловушки и пока ждёшь — рыбачь. Летом — акцент на рыбу, яйца и насекомых. Зимой — следить за тропами, искать норы и птиц. Готовь мясо только после варки/жарки, особенно дичь и рыбу. </li>
                            <li><span class="b">Рыбалка:</span> Рыба встречается часто в реках, озёрах, прудах. Рыбачить можно с помощью: <a href="Useful.html#fishingRod">удочки,</a> <a href="Useful.html#fishTrap">верши,</a> <a href="Useful.html#harpoon">остроги,</a> <a href="Useful.html#fishnet">сети,</a> используй червей или насекомых как наживку и забрасывай снасть в затенённые участки воды, особенно у коряг и поваленных деревьев. Сиди спокойно и жди, избегая резких движений — рыба боится шума.</li>
                            <li><span class="b">Ловушки:</span> <a href="Useful.html#loopTrap">Петля,</a> <a href="Useful.html#weightTrap">Падающий груз,</a> <a href="Useful.html#pitTrap">Яма с кольями.</a><br> Общие советы: искать звериные тропы, помёт, следы, тщательно маскировать ловушки, использовать приманки: орехи, ягоды, хлеб</li>
                            <li><span class="b">Птицы:</span> Гнёзда с яйцами (в плотных кустах у воды, развилки деревьев), а также ловля птиц <a href="Useful.html#fishnet">сеткой,</a> петлёй или сбивать камнем (подходи медленно, бросай в момент, когда птица отвлечена). Яйца — питательный и безопасный вариант, особенно весной.</li>
                            <li><span class="b">Мелкие животные:</span> <ol>
                                <li><span class="b">Лягушки:</span> Только зелёные, живущие у воды. Варить или жарить ноги.</li>
                                <li><span class="b">Улитки:</span> Вымачивать сутки, потом варить. Собирай под листвой или после дождя.</li>
                                <li><span class="b">Насекомые:</span> Жуки, личинки, саранча, муравьи — все съедобны после термообработки. Избегай ярких, вонючих и ядовитых видов.</li>
                            </ol></li>
                            <li><span class="b">Охота:</span> Цель: зайцы, косули, кабаны, утки. Методы: Засидка или подкарауливание (следы, помёт, тропы (открытая земля, утоптанная трава), места у воды — звери приходят пить), подманивание голосом (если есть навык), огнестрел/<a href="Useful.html#bow">лук</a> — требует точности и разрешений.
                            </li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Food/hunt.jpg" alt="Изображение охотника" itemprop="image">
            </div>

            <div id="cooking" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">приготовление пищи <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Как готовить?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li><span class="b">Важно:</span> В условиях ограниченных ресурсов стоит экономить воду, в том числе и при приготовлении пищи.</li>
                        <li><span class="b">Разведение огня:</span> <a href="Warm.html#howToMakeBonfire">Как развести костёр.</a></li>
                        <li><span class="b">Посуда:</span> Для готовки пищи, такой как картофель, рыба или птица, можно завернуть её в мягкую фольгу и готовить на углях. Если нет фольги, обмазывайте клубни, рыбу или птицу глиной и готовьте прямо в костре. Это обеспечит безопасное приготовление пищи, предотвращая риск пищевого отравления. Также можно сделать самодельную <a href="Useful.html#dishes">посуду.</a></li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Food/cook.jpg" alt="Изображение готовки в лесу" itemprop="image">
            </div>
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/slideAnimation.js"></script>
</body>
</html>