<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как выжить в лесу : руководство по выживанию в лесу с практическими советами по поиску воды, еды, строительству укрытий и другим аспектам выживания</title>
    <meta name="description" content="Руководство по выживанию в лесу с практическими советами по поиску воды, еды, строительству укрытий и многим другим важным аспектам.">
    <meta name="keywords" content="выживание, лес, советы, природа, походы, экстренные ситуации, помощь, survival, лесные приключения">

    <meta property="og:title" content="Как выжить в лесу">
    <meta property="og:description" content="Руководство по выживанию в лесу с практическими советами по поиску воды, еды, строительству укрытий и многим другим важным аспектам.">
    <meta property="og:image" content="../Assets/Images/Main/1.png">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">

</head>
<body>
    <div class="main">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title" itemprop="headline">Выживание в лесу</h1>
                    <h2 class="main"><a href="#about">посмотреть ниже <img src="../Assets/Images/Main/Arrow1.png" alt="Иконка стрелки"></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="#theme">Тема</a>
                        <a href="#about">О сайте</a>
                        <a href="#creation">Причины<br>создания</a>
                        <a href="#contents">Оглавление</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" class="nav-image" alt="Декоративная линия">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="about" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">описание сайта <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>О чём этот сайт?</h2>
                    <p itemprop="articleBody"> Этот сайт – руководство по выживанию в лесу. Он содержит практичные советы по поиску воды и еды, обогреву, строительству укрытия, ориентации на местности, оказанию первой помощи и многим другим важным аспектам
                        Каждая область имеет свои уникальные советы и особенности, поэтому информация разделена на категории, чтобы можно было быстро найти нужные советы в зависимости от ситуации.
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Main/3.png" alt="Изображение палаток" itemprop="image">
            </div>
            
            <div id="creation" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">причины появления <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Зачем этот сайт?</h2>
                    <p itemprop="articleBody"> <ol>
                        <li>Помощь в экстремальной ситуации</li>
                        <li>Подготовка к походам, экспедициям и путешествиям</li>
                        <li>Развитие полезных знаний, которые могут спасти жизнь</li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Main/2.jpg" alt="Изображение заточенных кольев" itemprop="image">
            </div>

            <div id="contents" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">содержание сайта <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Какие темы есть на сайте?</h2>
                    <nav class="site-navigation">
                        <p itemprop="articleBody"> 
                            На данном сайте есть информация по выживанию по заданным категориям:
                            <ol class="listReference">
                            <li itemprop="articleSection"><a href="Water.html">Вода</a></li>
                            <li itemprop="articleSection"><a href="Food.html">Еда</a></li>
                            <li itemprop="articleSection"><a href="Warm.html">Тепло</a></li>
                            <li itemprop="articleSection"><a href="Cover.html">Укрытие</a></li>
                            <li itemprop="articleSection"><a href="Aid.html">Первая помощь</a></li>
                            <li itemprop="articleSection"><a href="SelfDefense.html">Самооборона</a></li>
                            <li itemprop="articleSection"><a href="Connection.html">Связь</a></li>
                            <li itemprop="articleSection"><a href="Orientation.html">Ориентирование</a></li>
                            <li itemprop="articleSection"><a href="Useful.html">Полезные изделия</a></li>
                            <li itemprop="articleSection"><a href="Sanity.html">Как не сойти с ума</a></li>
                            </ol>
                        </p>
                    </nav>
                </article>
                <img class="photo_article" src="../Assets/Images/Main/1.png" alt="Изображение мужчины путешественника" itemprop="image">
            </div>
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <a  href="Contact.html">Связаться с нами <img src="../Assets/Images/Main/mail.png" class="lineImage" alt="Иконка почты"></a>
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
</body>
</html>