<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как ориентироваться в лесу : практические советы по ориентации в лесу по компасу, природным ориентирам, солнцу, звездам и людям</title>
    <meta name="description" content="Практические советы по ориентации в лесу: компас, природные ориентиры, солнце, звёзды и признаки человеческой деятельности.">
    <meta name="keywords" content="ориентация, лес, компас, солнце, Полярная звезда, муравейник, маршрут, советы, выживание, как найти дорогу, природные ориентиры">

    <meta property="og:title" content="Как ориентироваться в лесу">
    <meta property="og:description" content="Практические советы по ориентации в лесу: компас, природные ориентиры, солнце, звёзды и признаки человеческой деятельности.">
    <meta property="og:image" content="https://example.com/Assets/Images/Oriantation/compass.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main oriantation">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Ориентация в лесу</h1>
                    <h2 class="main"><a href="#rescue">посмотреть ниже <img src="../Assets/Images/Main/Arrow1.png" alt="Иконка стрелки"></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#way">Подготовка<br> маршрута</a>
                        <a href="#compass">Ориентация<br> по приборам</a>
                        <a href="#nature">Ориентация<br> в природе</a>
                        <a href="#search">Поиск путей</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png"  class="nav-image" alt="Декоративная линия">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Oriantation">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="way" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">подготовка маршрута <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>Как отправиться в путь?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Отметки на пути:</span> оставляйте зарубки на деревьях, кучки камней, шишек и т.п.</li>
                        <li><span class="b">Выбор ориентиров до похода:</span> выбирайте линейные объекты (дорога, просека, ЛЭП), чтобы по ним ориентироваться на обратном пути.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Oriantation/poverline.jpg" alt="Изображение ЛЭП" itemprop="image">
            </div>

            <div id="compass" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">ориентация по приборам <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Как использовать компас?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Проверка компаса:</span> проверьте <a href="Useful.html#compass">компас</a> с помощью металлического предмета или магнита.</li>
                        <li><span class="b">Ориентация по компасу:</span> синяя стрелка — на север, красная — на юг. Запишите нужное направление, следите, чтобы не двигаться по кругу.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Oriantation/compass.jpg" alt="Изображение компаса" itemprop="image">
            </div>

            <div id="nature" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">ориентация в природе <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Как ориентироваться в природе?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Деревья:</span> 
                            <ol class="listReference">
                                <li>Кора берез и сосен темнее на северной стороне.</li>
                                <li>Мох гуще на северной стороне.</li>
                                <li>Смоляные капли обильнее на южной стороне.</li>
                                <li>У елей больше веток с юга.</li>
                                <li>Муравейники положе с южной стороны.</li>
                            </ol>
                        </li>
                        <li><span class="b">Солнце:</span> В полдень Солнце в Северном полушарии находится на юге. Стоя спиной к солнцу: перед вами север, слева — запад, справа — восток.</li>
                        <li><span class="b">Звёзды:</span> Используйте Большую Медведицу и Полярную звезду для нахождения севера. Для этого найдите две правые звезды в «стенке» ковша, проведите мысленную прямую от этих звёзд вверх — она упрётся в Полярную звезду.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Oriantation/anthill.jpg" alt="Изображение муравейника" itemprop="image">
            </div>

            <div id="search" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">поиск пути <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title"><span class="background-number">04</span>Как найти людей?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Ищите ориентиры:</span> Река, ручей, просека, полевые дороги, тропы, линии электропередач — всё это может привести к населенному пункту.</li>
                        <li><span class="b">Прислушивайтесь:</span> Звуки техники, коров, петухов, лая собак могут указывать на близость деревни или фермы.</li>
                        <li><span class="b">Следите за следами:</span> Следы от шин, подкова, кострища, пластиковый мусор — признаки того, что здесь бывали люди.</li>
                        <li><span class="b">Избегайте препятствий:</span> Двигайтесь по более открытым участкам, где легче сохранять направление и выше вероятность заметить другие ориентиры.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Oriantation/tireTracks.jpg" alt="Изображение шин на грязи" itemprop="image">
            </div>
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
</body>
</html>