<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как не сойти с ума в лесу : руководство по сохранению психического здоровья в одиночестве : советы, распорядок дня, творчество и физическая активность</title>
    <meta name="description" content="Руководство по сохранению психического здоровья в одиночестве. Советы, распорядок, творчество и физическая активность.">
    <meta name="keywords" content="лес, одиночество, психическое здоровье, выживание, советы, порядок, творчество, тревожность">

    <meta property="og:title" content="Как не сойти с ума в лесу">
    <meta property="og:description" content="Руководство по сохранению психического здоровья в одиночестве. Советы, распорядок, творчество и физическая активность.">
    <meta property="og:image" content="https://example.com/Assets/Images/Sanity/tasks.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main sanity">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Психическое здоровье в одиночестве</h1>
                    <h2 class="main"><a href="#order">посмотреть ниже <div class="image-wrapper"></div></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#order">Порядок</a>
                        <a href="#art">Творчество</a>
                        <a href="#others">Другое</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" class="nav-image" alt="Декоративная линия">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Sanity">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="order" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">порядок в жизни <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>Как взять всё под контроль?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Соблюдать распорядок дня:</span> Создание чёткого распорядка помогает поддерживать структуру и избегать чувства беспокойства или бессмысленности. Планируйте день, даже если он состоит из мелких задач.</li>
                        <li><span class="b">Придумывай себе задания:</span> Работы по улучшению жилища или созданию полезных вещей придадут жизни цель и структуру. Например, можно смастерить что-то, построить укрытие или изучить местную флору и фауну.</li>
                        <li><span class="b">Веди календарь:</span> Ведение календаря помогает отслеживать время и не терять ориентацию в днях. Это также даёт ощущение связи с внешним миром и стабильности.</li>
                        <li><span class="b">Не паниковать от каждого шороха:</span> Важно сохранять спокойствие и избегать лишней паники, даже если что-то пугает. Постепенно осознание того, что не каждое событие может быть угрозой, поможет снизить уровень тревоги.</li>    
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Sanity/tasks.jpg" alt="Изображение срубленных деревьев" itemprop="image">
            </div>

            <div id="art" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">творчество <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Что творить?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Придумывай истории, вспоминай книги, стихи:</span> Ментальная деятельность помогает отвлечься от негативных мыслей. Придумывайте истории, вспоминайте любимые книги или стихи, что позволяет поддерживать разум в активности и отвлекает от одиночества.</li>
                        <li><span class="b">Разговаривай с самим собой или записывай мысли в дневник:</span> Проговаривание своих мыслей вслух или ведение дневника поможет структурировать переживания и снизит уровень стресса.</li>
                        <li><span class="b">Выражай эмоции для разгрузки:</span> Не держите эмоции в себе! Кричите, смейтесь, пойте — выражение эмоций способствует снижению стресса и помогает лучше контролировать чувства.</li>
                        <li><span class="b">Решай логические задачи:</span> например, шахматные партии "в уме", уравнения, загадки.</li>
                        <li><span class="b">Учись новым навыкам:</span> завязывание узлов, резьба по дереву, рисуй углём на камнях, придумывай песни и др.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Sanity/drawing.jpg" alt="Изображение рисования" itemprop="image">
            </div>

            <div id="others" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">общие реккомендации <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Чем заниматься?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Физическая активность:</span> Занимайтесь физической работой, такой как стройка, исследование территории, заготовка дров. Это не только поможет вам оставаться в форме, но и будет способствовать выработке эндорфинов, что улучшает настроение.</li>
                        <li><span class="b">Соревнования с самими собой:</span> например, установливать собственные рекорды по сбору, постройке, творчеству.</li>
                        <li><span class="b">Делать что угодно, но что-то:</span> Главное — не оставаться бездельником. Если не выполнять какую-то деятельность, мозг начнёт переживать и создавать проблемы. Делайте что-то: работайте, изучайте, планируйте, творите.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Sanity/logCarrying.jpg" alt="Изображение переноса дерева" itemprop="image">
            </div>
            
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/slideAnimation.js"></script>
</body>
</html>