<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Что сделать в лесу : полезные советы и инструкции по изготовление ловушек, охотничьих и кухонных приспособлений, фильтрация воды и другие навыки</title>
    <meta name="description" content="Полезные советы и инструкции по выживанию в лесу: изготовление ловушек, охотничьих и кухонных приспособлений, фильтрация воды и другие необходимые навыки.">
    <meta name="keywords" content="выживание в лесу, ловушки, охота, фильтрация воды, приспособления, лесные советы, изготовление инструментов, выживание, рыбалка, дикая природа, экстренная ситуация">

    <meta property="og:title" content="Полезные изделия в лесу">
    <meta property="og:description" content="Полезные советы и инструкции по выживанию в лесу: изготовление ловушек, охотничьих и кухонных приспособлений, фильтрация воды и другие необходимые навыки.">
    <meta property="og:image" content="../Assets/Images/Useful/knife.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main useful">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Полезные изделия в лесу</h1>
                    <h2 class="main"><a href="#hunt">посмотреть ниже <div class="image-wrapper"></div></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#hunt">Охота</a>
                        <a href="#cook">Готовка</a>
                        <a href="#others">Другие</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" class="nav-image" alt="Декоративная линия">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Useful">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="hunt" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">изделия для охоты <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>Как сделать приспособления для охоты?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span id="fishnet" class="b">Сеть для ловли:</span> Для изготовления сети используйте <a href="#rope">верёвку</a>. Для рамы и поплавков можно использовать дерево, а для груза — камни. Такая сеть поможет вам ловить рыбу или других мелких животных.</li>
                        <li><span id="harpoon" class="b">Острога:</span> Прямая палка, конец расщепи, вставь заострённые палочки крестом. Зафиксируй — получится 4 зубца. Можно дополнить <a href="#rope">верёвкой,</a> чтобы не терять.</li>
                        <li><span id="fishingRod" class="b">Удочка:</span> прямая ветка, на конце <a href="#rope">нить</a> с крючоком — из кости, шипа, проволоки.</li>
                        <li><span id="fishTrap" class="b">Ловушка для рыбы:</span> "бутылка" из ивовых прутьев с воронкой внутрь — рыба заплывёт, а выйти не сможет.</li>
                        <li><span id="loopTrap" class="b">Петля-ловушка:</span> Гибкая ветка — как пружина. Петля затягивающаяся при натяжении из нитки/волокна. Спусковой механизм: В землю вбей короткую вертикальную палочку (10 см) с расщепом сверху. В расщеп вставь горизонтальную палочку, на которую будет натянут шнур от ветки. При нажатии/заде вания эта палочка выпадет, а ветка выстрелит и затянет петлю. Петля должна располагаться чётко на тропе зверя. Убедись, что при малейшем касании петля резко срывается и поднимается вверх. Ловушку замаскируй — зверь не должен его замечать. Важно: не оставляй запах — можно натереть ловушку землёй, сажей.</li>
                        <li><span id="weightTrap" class="b">Ловушка падающий груз:</span> Подними груз с помощью рычага или подкопа. Сделай треугольный спусковой механизм из палок. Настрой так, чтобы малейшее движение сбивало систему.</li>
                        <li><span id="pitTrap" class="b">Ловушка яма с кольями:</span> Выкопай яму — глубина не менее 1.5 м, ширина — по размеру животного, лучше 1.5 на 1.5 м. Вбей колья на дно ямы, заостри их — лучше всего под наклоном, чтобы было больше шансов нанести урон. Маскируй яму: Положи тонкие ветки поперёк. Сверху листья, трава, мох — должно выглядеть как обычный лесной пол. Проложи направляющий забор — в сторону ямы, чтобы животное шло нужным путём</li>
                        <li><span class="b">Копьё:</span> Прямая палка, 1.5–2 метра. Один конец заострить об камень или уголь из костра. Закалить в огне (держать в жару, не в пламени — 5–10 мин). Для прочности: расщепи кончик и вставь острый камень или косточку, обвяжи <a href="#rope">верёвкой.</a></li>
                        <li><span id="bow" class="b">Лук:</span> Лук: упругая ветка (ясень, орешник), длиной около метра. Тетива: скрученные волокна крапивы, лыка, сухожилия. Стрелы: прямые веточки, каменный или костяной наконечник, оперение из листьев или мха.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Useful/trap.jpg" alt="Изображение ловушки" itemprop="image">
            </div>

            <div id="cook" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">изделия для готовки <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Как сделать приспособления для готовки?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span id="flintAndSteel" class="b">Огниво:</span> Используйте кремень (имеет чёткие грани, коричневатые сколы, слегка блестящий на солнце) и углеродистую сталь (например, лезвие ножа, напильник, ржавый металл). Ударьте камнем по стали, чтобы вызвать искры, которые могут поджигать материалы.</li>
                        <li><span class="b">Нож:</span> Найди кремень — откалывай об другой камень, пока не получится острый край. Можно вставить в расщеплённую палку и закрепить верёвкой = "рукоятка"</li>
                        <li><span id="dishes" class="b">Посуда:</span> Из глины (найти у водоёмов), вылепить форму. Обжечь у костра (в стороне от пламени, в жару 2–3 часа).</li>
                        <li><span id="filter" class="b">Фильтр:</span> В ёмкости (например, банке) пробейте дно мелкими отверстиями, выложите ткань и засыпьте калёным песком или щебнем. После этого можно пропускать воду через такой фильтр для первичной очистки, а затем продезинфицировать воду (например, кипячением или использованием таблеток для очистки воды).</li>
                        <li><span id="sunFilter" class="b">Солнечный дестиллятор:</span> Выкопай ямку глубиной 30–50 см и диаметром около 50 см. В центр поставь чистую ёмкость, куда будет стекать конденсат. Вокруг ёмкости вылей грязную воду, положи мокрые листья, траву или даже мочу — всё, что испаряется. ыНакрой яму прозрачной плёнкой или пакетом, натяни её плотно. В центр плёнки положи небольшой камень, чтобы получился наклон к центру — капли будут стекать в ёмкость. Принцип: Солнце нагревает содержимое ямы → влага испаряется → пар конденсируется на плёнке → капает в центр, в чистую ёмкость.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Useful/knife.jpg" alt="Изображение ножа" itemprop="image">
            </div>

            <div id="others" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">другие изделия <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Как сделать другие прспособления?</h2>
                    <p itemprop="articleBody"><ol class="listReference">
                        <li><span class="b">Топор:</span> Камень с острым краем или тяжёлый — обтёсанный. Вилка из дерева (раздвоенный конец). Закрепить камень клиньями из дерева и обвязать <a href="#rope">верёвкой</a> или шкурой.</li>
                        <li><span id="lense" class="b">Линза:</span> Наполните пакет небольшим количеством воды, чтобы создать форму капли. Сфокусировав лучи света в одной точке, вы можете использовать их для поджигания материала.</li>
                        <li><span id="compass" class="b">Компас:</span> Для создания компаса, намагнитите иглу (например, через трение о магнитный камень) и положите её на воду. Игла будет указывать на север.</li>
                        <li><span id="torch" class="b">Факел:</span> Палка, обмотанная смолистой тканью или берестой. Обмакнуть в животный жир или смолу. Поджигать — держать подальше от лица.</li>
                        <li><span id="rope" class="b">Верёвка:</span> используйте волокна крапивы, лыко, сухожилия животных или лозу.</li>
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Useful/torch.jpg" alt="Изображение факела" itemprop="image">
            </div>
            
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/slideAnimation.js"></script>
</body>
</html>