<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как согреться в лесу : практическое руководство как согреться в лесу с помощью костра, подбор материалов и безопасность поведения с костром</title>
    <meta name="description" content="Практическое руководство как согреться в лесу: советы по разведению костра, выбору подходящих материалов и обеспечению безопасности в обращении с костром.">
    <meta name="keywords" content="костёр, как развести костёр, материалы для костра, безопасность костра, поход, выживание, лес">
    

    <meta property="og:title" content="Как согреться в лесу">
    <meta property="og:description" content="Узнайте, как согреться в лесу: советы по разведению костра, выбору подходящих материалов и обеспечению безопасности в обращении с костром.">
    <meta property="og:image" content="../Assets/Images/Warm/materialBonfire.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main warm">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Тепло в лесу</h1>
                    <h2 class="main"><a href="#materials">посмотреть ниже <img src="../Assets/Images/Main/Arrow1.png" alt="Иконка стрелки"></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#materials">Материалы</a>
                        <a href="#makingOf">Разведение</a>
                        <a href="#safety">Безопасность</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" class="nav-image" alt="Декоративная линия">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Warm">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="materials" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">материалы костра <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>Из чего сделать костёр?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li>Для разведения костра необходимо три ключевых элемента:</li>
                        <li><span class="b">Топливо:</span> Сухие дрова — лучший выбор. Если дрова сырые или гнилые, от них будет много дыма и мало тепла. Тонкие веточки быстро прогорят, а валежник подойдёт только в сухую погоду. Для быстрого розжига используйте сухую кору, бересту, камыш, папоротник, мох, лишайник и другие лёгкие растопочные материалы. Хорошо горят сухие сучки, птичий пух и высушенные гнилушки.</li>
                        <li><span class="b">Окислитель:</span> Разжигайте костёр с подветренной стороны и раздувайте его, например, большим куском коры.</li>
                        <li><span class="b">Высокая температура:</span> Спички, <a href="Useful.html#flintAndSteel">огниво,</a> <a href="Useful.html#lense">лупа.</a></li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Warm/materialBonfire.jpg" alt="Изображение костра" itemprop="image">
            </div>
            
            <div id="makingOf" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">разведение костра <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Как развести костёр?</h2>
                    <p itemprop="articleBody"> 
                        <ol class="listReference">
                            <li><span id="howToMakeBonfire" class="b">Разжечь костёр:</span> Мох обладает антисептическими свойствами и не содержит бактерий. Можно отжать мох, чтобы получить воду. Она будет коричневатого цвета из-за пигментации мха, но это безопасно.</li>
                            <li><span class="b">Типы костров:</span> <ol>
                                <li><span class="b">Костёр "Шалаш":</span> быстро прогорает и имеет высокую температуру горения. Чтобы сделать, необходимо на растопку класть наклонно дрова в виде шалаша.</li>
                                <li><span class="b">Костёр "Звёздный":</span> долго горит, хорош для приготовления пищи и обогрева (ночью в том числек). Экономит дрова — важный фактор при их нехватке. Чтобы сделать брёвна складываются краями в форме звезды и поджигаются в центре.</li>
                                <li><span class="b">Совет:</span> Обложите костёр камнями, чтобы они не только защищали растения от огня, но и сохраняли тепло.</li>
                            </ol></li>
                            <li><span class="b">Разведение костра в дождь:</span> Натяните тент над костровым местом, чтобы защитить его от дождя. В дождливую погоду лучше использовать сосновые ветки с смолой, которая помогает поддерживать пламя, сухую бересту и мёртвые деревья с горючим трутом внутри.</li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Warm/tentBonfire.jpg" alt="Изображение разведения костра" itemprop="image">
            </div>

            <div id="safety" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">безопасность костра <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Как безопасно развести костёр?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li><span class="b">Безопасность при разведении костра:</span> Разводите костёр далеко от горючих материалов и палаток (более 3 метров). Лучше делать костёр на каменной или песчаной площадке. Убедитесь в доступе воздуха к костру, чтобы огонь горел правильно.</li>
                        <li><span class="b">Тушение костра:</span> Перед уходом из лагеря обязательно потушите костёр: залейте его водой или засыпьте землёй, чтобы избежать риска возгорания.</li>    
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Warm/safety.jpg" alt="Изображение разведения костра" itemprop="image">
            </div>
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
</body>
</html>