<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/AaptiveFormatter2.css">
    <title>Как найти воду в лесу : пошаговое руководство как найти воду в лесу, признаки наличия воды, сбор и отчистка</title>
    <meta name="description" content="Пошаговое руководство как найти воду в лесу в условиях дикой природы: практические советы, признаки наличия воды, сбор и отчистка питьевой влаги.">
    <meta name="keywords" content="поиск воды в лесу, дикая природа, способы получения воды, сбор воды, очистка воды, дезинфекция воды">

    <meta property="og:title" content="Как найти воду в лесу">
    <meta property="og:description" content="Пошаговое руководство как найти воду в лесу в условиях дикой природы: практические советы, признаки наличия воды, сбор и отчистка питьевой влаги.">
    <meta property="og:image" content="../Assets/Images/Water/river.jpg">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
</head>
<body>
    <div class="main water">
        <div class="main_top">
            <div class="container">
                <header id="theme" class="header" itemscope itemtype="https://schema.org/WPHeader">
                    <h2 class="orange">советы и руководства <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h1 class="title">Вода в лесу</h1>
                    <h2 class="main"><a href="#waterSearch">посмотреть ниже <img src="../Assets/Images/Main/Arrow1.png" alt="Иконка стрелки"></a></h2>
                </header>
                <div class="navWrapper">
                    <nav class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
                        <a href="Main.html"><img src="../Assets/Images/Main/Arrow2.png" alt="Иконка стрелки"> главная</a>
                        <a href="#theme">Тема</a>
                        <a href="#waterSearch">Поиск воды</a>
                        <a href="#waterCapture">Сбор воды</a>
                        <a href="#waterCleaning">Очистка и<br>дезинфекция</a>
                    </nav>
                    <img id="lineNav" src="../Assets/Images/Main/LineNav.png" class="nav-image" alt="Декоративная линия">
                </div>
                <div class="nav2">
                </div>
                <div class="extreme">
                    <h2 class="main"><a href="ExtremePage.html#Water">экстренная версия сайта <img src="../Assets/Images/Main/Alarm1.png" class="lineImage" alt="Иконка важности"></a></h2>
                </div>
                
                <div class="transfer">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container2" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="author" content="Ивахо Вадим" />
        <meta itemprop="datePublished" content="2025-05-14"/>
        <div class="articles">
            <div id="waterSearch" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">поиск воды на природе <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">01</span>Как найти воду?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li><span class="b">Река или ручей:</span> Найдите ближайший реку или ручей для забора воды.</li>
                        <li><span class="b">Дождевая вода:</span> Выкопайте ямку и накройте её большими листьями, чтобы собрать дождевую воду.</li>
                        <li><span class="b">Роса:</span> Ранним утром проведите по траве тканью или бинтом, затем отожмите в сосуд. Можно также надеть ткань на ноги и пройтись — особенно эффективно на заросших участках. </li>
                        <li><span class="b">Конденсат из воздуха:</span> <a href="Useful.html#sunFilter"> Cолнечный дистиллятор</a></li>
                        <li><span class="b">Вода из снега или льда:</span> Перед употреблением лучше прокипитить снег — поедание холодного снега снижает температуру тела. Лёд более плотный, даёт больше воды при меньшем объёме.</li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Water/river.jpg" alt="Изображение лесной реки" itemprop="image">
            </div>
            
            <div id="waterCapture" class="article_box">
                <article class="mainArticle">
                    <h2 class="orange" itemprop="alternativeHeadline">сбор воды с растений <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">02</span>Как собрать воду?</h2>
                    <p itemprop="articleBody"> 
                        <ol class="listReference">
                            <li><span class="b">Мох:</span> Мох обладает антисептическими свойствами и не содержит бактерий. Можно отжать мох, чтобы получить воду. Она будет коричневатого цвета из-за пигментации мха, но это безопасно.</li>
                            <li><span class="b">С дерева:</span> При дожде обвяжите дерево тканью, чтобы собрать стекающую воду в сосуд.</li>
                            <li><span class="b">С куста:</span> Обвяжите ветку куста или дерева полиэтиленовым пакетом. На его внутренней поверхности будет скапливаться испаряемая растениями вода.</li>
                        </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Water/leafWater.jpg" alt="Изображение воды на листьях" itemprop="image">
            </div>

            <div id="waterCleaning" class="article_box">
                <article class="mainArticle">
                    
                    <h2 class="orange" itemprop="alternativeHeadline">очистка и дезинфекция <img src="../Assets/Images/Main/NameLine.png" class="orangeLine" alt="Декоративная линия"></h2>
                    <h2 class="title" itemprop="headline"><span class="background-number">03</span>Как очистить воду?</h2>
                    <p itemprop="articleBody"> <ol class="listReference">
                        <li><span class="b">Важно:</span> Все собранные воды необходимо прокипятить для дезинфекции.</li>
                        <li><span class="b">Фильтрация:</span> Если вода сильно загрязнена, её можно отфильтровать, создав <a href="Useful.html#filter">фильтр</a> с использованием доступных материалов.</li>
                        <li><span class="b">Солнечная дезинфекция:</span> Наполните прозрачную пластиковую бутылку водой, оставьте некоторое количество воздуха, закройте и перемешайте, оставьте под прямыми солнечными лучами на 6 часов (или 48 часов в облачную погоду). УФ-лучи убивают большинство патогенов.</li>    
                    </ol>
                    </p>
                </article>
                <img class="photo_article" src="../Assets/Images/Water/teapot.jpg" alt="Изображение чайника на костре" itemprop="image">
            </div>
        </div>
        <footer class="contacts" itemscope itemtype="https://schema.org/WPFooter">
            <p itemprop="creator">Ивахо Вадим 4226</p>
        </footer>
    </div>
    <script src="../static/js/mainPage.js"></script>
</body>
</html>